form {
    padding-top: 10vh;
    padding-bottom: 17vh;
    text-align: center;
}

label {
    color: white;
}

input {
    display: block;
    color: black;
    margin: 0 auto;
}

input:focus {
    background-color: teal;
    color:white;
}

::placeholder {
    color: black;
    font-weight: bold;
}

form button {
    margin-top: 1%;
    padding: 1%;
    width: 10%;
    background-color: white;
    color: #234465;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

form button:hover {
    font-weight: bold;
    background-color: teal;
}

form h1 {
    font-size: 40px;
    color: black;
}

form input {
    padding: .5%;
    border-radius: 6px;
    width: 15%;
}
