.register-form form {
    padding-bottom: 17vh;
    text-align: center;
}

.register-form label {
    color: black;
}

.register-form input {
    display: block;
    color: black;
    margin: 0 auto;
}

.register-form input:focus {
    outline-color: teal;
    color:black;
}

.register-form ::placeholder {
    color: black;
    font-weight: bold;
}

.register-form form button {
    margin-top: 1%;
    padding: 1%;
    width: 10%;
    background-color: teal;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.register-form form button:hover {
    background-color: #00AEAE;
}

.register-form form h1 {
    font-size: 40px;
    color: black;
}

.register-form form input {
    padding: .5%;
    border-radius: 6px;
    width: 15%;
}

.register-form .error {
    color: red;
    display: inline-block;
}