.offer-container {
    width: 100%;
}

.offer-container img {
    width: 60%;
}

.info-container {
    width: 100%;
    background-color: #d5d5d5;
}

.offer-container #title {
    width: 100%;
    color: teal;
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 20px;
}

.offer-container #specs {
    display: inline-block;
    width: 30%;
}

.offer-container #price {
    display: inline-block;
    width: 30%;
    height: 140px;
}

.offer-container #price span {
    color: #0000d8;
    font-size: 42px;
}

.hoverTable{
    width:100%;
    border-collapse:collapse;
}

.hoverTable td{
    padding:7px; 
    border: none;
}
 
.hoverTable .hover{
    background: #d5d5d5;
}

.hoverTable .hover:hover {
    background-color: #00b4b4;
}

.offer-container #description {
    display: inline-block;
    width: 60%;
}

.offer-container button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.offer-container .button-buy {
    background-color: white; 
    color: black; 
    width: 100%;
    border: 2px solid green;
}
  
.offer-container .button-buy:hover {
    background-color: green;
    color: white;
}

.offer-container .button-edit {
    background-color: white; 
    color: black; 
    border: 2px solid blue;
}

.offer-container .button-edit:hover {
    background-color: blue;
    color: white;
}

.offer-container .button-delete {
    background-color: white; 
    color: black; 
    border: 2px solid red;
}

.offer-container .button-delete:hover {
    background-color: red;
    color: white;
}
