.brands-main h1 {
    color: black;
}

.brands-main .brands {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  margin: auto;
  text-align: center;
  font-family: arial;
  display: inline-block;
  margin: 1%;
}

.brands-main .brands img {
  width: 200px;
  height: 200px;
}