.login-form form {
    padding-top: 10vh;
    padding-bottom: 17vh;
    text-align: center;
}

.login-form label {
    color: black;
}

.login-form input {
    display: block;
    color: black;
    margin: 0 auto;
}

.login-form input:focus {
    outline-color: teal;
    color:black;
}

.login-form ::placeholder {
    color: black;
    font-weight: bold;
}

.login-form form button {
    margin-top: 1%;
    padding: 1%;
    width: 10%;
    background-color: teal;
    color: white;
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

.login-form form button:hover {
    background-color: #00AEAE;
}

.login-form form h1 {
    font-size: 40px;
    color: black;
}

.login-form form input {
    padding: .5%;
    border-radius: 6px;
    width: 15%;
}
